
dj-rest-auth==2.2.5
Django==3.1.14
django-allauth==0.51.0
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-environ==0.4.5
django-filter==22.1
django-js-asset==1.2.2
django-rest-auth==0.9.5
djangorestframework==3.13.1
djoser==2.1.0
gunicorn==20.1.0
Pillow==9.0.1
